body {
  background-color: white;
}
.table {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: grey;
}
.asset-info {
  background-color: white;
  display: flex;
  text-align: right;
}
.hide {
  display: none;
}
.asset-detail {
  flex: 1;
}