body {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
}
.table {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: grey;
  margin-top:25px; 
  cursor: pointer;
}
.total-row {
  background-color: grey;
  margin-top: 25px;
  justify-content: space-between;
  display: flex;
}
.asset-info {
  background-color: white;
  display: flex;
  text-align: right;
}
.head-row {
  display: flex;
  border-bottom: 3px solid grey;
}
.header-detail {
  flex: 1;
  text-align: right;
}
.hide {
  display: none;
}
.asset-detail {
  flex: 1;
}